# Visual Studio / VS Code
.vs/
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary files
*.tmp
*.temp
*~
**/results/misc/**
**/assets/terrain_tests/**
 
**/__pycache__/*
.env
**/output/*.mp4